@page "/message"
<!-- SendMSGComponent.razor -->
<div>
    <h3>Enviar Mensaje</h3>

    <form @onSubmit="EnviarMensaje">
        <div class="form-group">
            <label for="NumeroDestino">Número de Destino:</label>
            <input type="text" class="form-control" @bind="sendMsg.NumeroDestino" />
        </div>

        <div class="form-group">
            <label for="Mensaje">Mensaje:</label>
            <textarea class="form-control" @bind="sendMsg.Mensaje"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

@code {
    private SendMSG sendMsg = new SendMSG();

    private void EnviarMensaje()
    {
        // Aquí puedes manejar la lógica para enviar el mensaje
        // Puedes utilizar la instancia de 'sendMsg' para acceder a los datos del formulario
        // Por ejemplo, puedes utilizar 'sendMsg.NumeroDestino' y 'sendMsg.Mensaje'
        // para enviar el mensaje a través de la lógica de tu aplicación.
    }

    // SendMSG.cs
    public class SendMSG
    {
        public string NumeroDestino { get; set; }
        public string Mensaje { get; set; }
    }

}

